<% for(var i=0;i<proveedor.length;i++){%>

<tr>
    
        <td><span><%= proveedor[i].id_provedores %></span></td>
        <td><%= proveedor[i].nombre_provedor %><br></td>
        <td><%= proveedor[i].telefono_provedor %></td>
        <td></td>
        <td class="content-icon-ser">
            <div>
                <a href="/edd/prov/<%= proveedor[i].id_provedores %>"><ion-icon name="pencil-outline" class="pencil"></ion-icon></a>
            </div>
            <div>
                <a href="/proveedor/delete/<%= proveedor[i].id_provedores %>"><ion-icon name="close-outline" class="delete"></ion-icon></a>
            </div>
        </td>
    
</tr>

<% } %>